<ion-header>
    <ion-toolbar color="primary" class="text-center">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/hom2"></ion-back-button>
        </ion-buttons>
        <ion-title>IONIC</ion-title>
        <ion-buttons slot="primary">
            <ion-button href="/hom">
                <ion-icon name="home-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img src="https://ionicframework.com/docs/v3/img/meta/ionic-framework-og.png"></ion-img>
    <ion-card class="alert alert-primary">
        <ion-card-header class="text-center">
            <ion-card-title>IONIC</ion-card-title>
            <ion-card-subtitle>Build native mobile apps with web technology and Angular</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <a href="https://go.ionicframework.com/portals-for-capacitor?_gl=1*xw1946*_ga*MjAxMTA5MDcxMi4xNjU5MzI1Nzc2*_ga_REH9TJF6KF*MTY2Nzg4NjU0OS40NS4xLjE2Njc4ODY3MTcuMC4wLjA.">
                <ion-button expand="block">Portal for Capacitor</ion-button>
            </a>
        </ion-card-content>
    </ion-card>
    <div class="ion-padding">
        <ion-card-title>Introduction to Ionic</ion-card-title>
        <ion-card-content>Ionic is an open source UI toolkit for building performant, high-quality mobile apps using web technologies — HTML, CSS, and JavaScript — with integrations for popular frameworks like Angular, React, and Vue.</ion-card-content>
    </div>
    <ion-grid>
        <ion-row>
            <ion-col size="6">
                <ion-card href="https://ionicframework.com/docs/intro/cli">
                    <ion-card-title class="ion-padding">
                        <ion-icon name="cloud-download"></ion-icon>
                    </ion-card-title>
                    <ion-card-content>
                        <h2><b>Installation Guide</b></h2><br> Step-by-step guides to setting up your system and installing the framework.</ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card href="https://ionicframework.com/docs/components">
                    <ion-card-title class="ion-padding">
                        <ion-icon name="build"></ion-icon>
                    </ion-card-title>
                    <ion-card-content><b>UI Components</b><br><br>Drive into Ioic beautifully designed UI component library.</ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-card class="ion-padding alert alert-primary">
        <ion-card-title>Overview</ion-card-title>
        <ion-card-content>Ionic focuses on the frontend UX and UI interaction of an app — UI controls, interactions, gestures, animations. It's easy to learn, and integrates with other libraries or frameworks, such as Angular, React, or Vue. Alternatively, it can be used
            standalone without any frontend framework using a simple script include. If you’d like to learn more about Ionic before diving in, we created a video to walk you through the basics.</ion-card-content>
    </ion-card>
    <ion-card class="ion-padding alert alert-primary">
        <ion-card-title>Features</ion-card-title>
        <ion-card-content>
            <h1>Clean, Simple, and Functional Design</h1>
            <p>Ionic is designed to work and display beautifully on all current mobile devices and platforms. With ready-made components, typography, and a gorgeous (yet extensible) base theme that adapts to each platform, you'll be building in style.</p>
            <br>
            <h1>Net and Web optimized</h1>
            <p>Ionic emulates native app UI guidelines and uses native SDKs, bringing the UI standards and device features of native apps together with the full power and flexibility of the open web. Ionic uses Capacitor (or Cordova) to deploy natively,
                or runs in the browser as a Progressive Web App.</p><br>
            <h1>Cross-platform</h1>
            <p>Build and deploy apps that work across multiple platforms, such as native iOS, Android, and the web as a Progressive Web App - all with one code base. Write once, run anywhere.</p><br>
            <h1>Simplicity</h1>
            <p>Ionic is built with simplicity in mind, so that creating apps is enjoyable, easy to learn, and accessible to just about anyone with web development skills.</p>
        </ion-card-content>
    </ion-card>
</ion-content>