<ion-header>
    <ion-toolbar color="primary" class="text-center">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/pg3"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ioni.btitle}}</ion-title>
        <ion-buttons slot="primary">
            <ion-button href="/hom">
                <ion-icon name="home-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div>
        <h2 class="ion-padding text-center"><b>{{ioni.btitle}}</b></h2>
    </div>
    <ion-img [src]="ioni.bimgUrl"></ion-img>
    <ion-card class="ion-padding alert alert-info">
        <div>
            <ion-label>Rating :
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star-half"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
                (113)
            </ion-label>
        </div><br>
        <ion-label><b>Author :</b> {{ioni.bauthor}}</ion-label><br>
        <ion-label><b>Publisher :</b> {{ioni.bpublisher}}</ion-label><br><br>
        <ion-label><b>Description :</b><br>{{ioni.bdescri}}</ion-label>
        <ion-card color="primary">
            <h2 class="ion-padding-top text-center">Price :</h2>
            <ion-card-title class="text-center ion-padding">{{ioni.bprice | currency: 'INR'}}</ion-card-title>
        </ion-card>
        <ion-button color="primary" expand="block" [href]=" ioni.buylink ">
            <ion-icon slot=" start " name="wallet "></ion-icon> Buy Now
        </ion-button>
    </ion-card>
</ion-content>