<ion-header>
    <ion-toolbar color="tertiary" class="text-center">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/hom"></ion-back-button>
        </ion-buttons>
        <ion-title>LEARNER'</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="3"><br>
                <ion-chip color="medium"><b>Tags</b></ion-chip><br>
                <font size="2" color="grey"><small>Filter categories to learn</small></font><br><br>
                <ion-button href="/hom" color="light" expand="block">All</ion-button>
                <ion-button href="/hom2" color="light" expand="block">Basic</ion-button>
                <ion-button color="light" expand="block">Advanced</ion-button>
            </ion-col>
            <ion-col>
                <h5>Learning Categories</h5>
                <hr>
                <p class="text-center">Showing <b>Advanced</b> Categories</p>
                <ion-card color="secondary ion-padding" [routerLink]="['./pggg1']">
                    <h6>Framework</h6>
                    <ion-card-title>React</ion-card-title><br>
                    <small>A javascript library for building user interface</small>
                </ion-card>
                <ion-card color="danger ion-padding" [routerLink]="['./pggg4']">
                    <h6>Framework</h6>
                    <ion-card-title>Angular</ion-card-title><br>
                    <small>A multiplatform mobile application interface</small>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>